In [1]:
import pandas as pd

In [48]:
data_asignacion = pd.read_csv("data_ini/cv19_municipio-asignacion_casos.csv")
data_residencia = pd.read_csv("data_ini/cv19_municipio-residencia_casos.csv")
data_coordenadas = pd.read_csv("data_ini/municipios_20170101.csv")

In [12]:
data_asignacion.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso
0,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica
1,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica
2,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,06/01/2022,NaN,17/01/2022,Cerrado por alta médica
3,14/03/2022,TENERIFE,Adeje,Hombre,50 - 59,02/01/2022,NaN,13/01/2022,Cerrado por alta médica
4,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,08/01/2022,NaN,19/01/2022,Cerrado por alta médica

In [11]:
data_residencia.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso
0,14/03/2022,TENERIFE,Adeje,Mujer,20 - 29,02/01/2022,NaN,13/01/2022,Cerrado por alta médica
1,14/03/2022,TENERIFE,SIN ESPECIFICAR,Mujer,20 - 29,02/01/2022,NaN,13/01/2022,Cerrado por alta médica
2,14/03/2022,TENERIFE,Adeje,Mujer,10 - 19,08/01/2022,NaN,19/01/2022,Cerrado por alta médica
3,14/03/2022,TENERIFE,SIN ESPECIFICAR,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica
4,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica

In [13]:
data_asignacion['identificacion_caso'] = 'Asignación'
data_residencia['identificacion_caso'] = 'Residencia'

In [15]:
data = pd.concat([data_asignacion, data_residencia])

In [29]:
islas_sc = ['TENERIFE', 'LA GOMERA', 'LA PALMA', 'EL HIERRO']
islas_lp = ['GRAN CANARIA', 'FUERTEVENTURA', 'LANZAROTE']

data['provincia'] = ''

for i in range(len(islas_sc)):
    data.loc[data.isla == islas_sc[i], 'provincia'] = 'Santa Cruz de Tenerife'
    
for j in range(len(islas_lp)):
    data.loc[data.isla == islas_lp[j], 'provincia'] = 'Las Palmas'

In [46]:
df_municipios = pd.DataFrame()

df_municipios['nombre'] = data['municipio'].unique()
df_municipios['Latitud'] = None
df_municipios['Longitud'] = None

In [51]:
data['latitud_municipio'] = None
data['longitud_municipio'] = None

In [76]:
for i in range(len(data_coordenadas)):
    data.loc[data.municipio == data_coordenadas.iloc[i].etiqueta, 'latitud_municipio'] = data_coordenadas.iloc[i].latitud
    data.loc[data.municipio == data_coordenadas.iloc[i].etiqueta, 'longitud_municipio'] = data_coordenadas.iloc[i].longitud

In [77]:
data.head()

,fecha_datos,isla,municipio,sexo,grupo_edad,fecha_caso,fecha_fallecido,fecha_curado,estado_caso,identificacion_caso,provincia,latitud_municipio,longitud_municipio
0,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,Santa Cruz de Tenerife,28.139453,-16.739477
1,14/03/2022,TENERIFE,Adeje,Hombre,30 - 39,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,Santa Cruz de Tenerife,28.139453,-16.739477
2,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,06/01/2022,NaN,17/01/2022,Cerrado por alta médica,Asignación,Santa Cruz de Tenerife,28.139453,-16.739477
3,14/03/2022,TENERIFE,Adeje,Hombre,50 - 59,02/01/2022,NaN,13/01/2022,Cerrado por alta médica,Asignación,Santa Cruz de Tenerife,28.139453,-16.739477
4,14/03/2022,TENERIFE,Adeje,Hombre,40 - 49,08/01/2022,NaN,19/01/2022,Cerrado por alta médica,Asignación,Santa Cruz de Tenerife,28.139453,-16.739477